# Configuration file

####################
# block
#===================
# Set id to 0 to disable loading the block, add - in front of id to disable recipe only.
####################

block {
    I:chunkLoaderId=1890
}


####################
# general
#===================
# Disabling items/blocks only disables recipes.
####################

general {
    B:allowWRRemove=false
    B:chunkSight=true
    B:chunkSightAutorefresh=true

    # Range of chunk load boundaries.
    I:chunkSightRange=8
    B:enableTriggers=true

    # Default key to toggle chunk load boundaries.
    I:laserKeyChar=64

    # Percentage of power a power teleport pipe transmits. Between 0 and 100.
    I:powerLoss=90
}


####################
# item
#===================
# Set id to 0 to disable loading the item, add - in front of id to disable recipe only.
####################

item {
    I:pipeItemsAdvancedInsertionId=31741
    I:pipeItemsAdvancedWoodId=31740
    I:pipeItemsClosedId=31735
    I:pipeItemsDistributorId=31739
    I:pipeItemsRedStoneId=31742
    I:pipeItemsSwitchId=31733
    I:pipeItemsTeleportId=0
    I:pipeLiquidsRedstoneId=31743
    I:pipeLiquidsSwitchId=31732
    I:pipeLiquidsTeleportId=0
    I:pipeLiquidsWaterPumpId=31731
    I:pipePowerSwitchId=31734
    I:pipePowerTeleportId=0
}


