#spawnWeight = Relative spawn weight. The lower the less common. 10=pigs. 0=off
#spawnLimit = Maximum spawn count in the World.
#minGroupSize = Minimum spawn group count.
#maxGroupSize = Maximum spawn group count.
#canDespawn = It will despawn, if it lets things go. 
#checkOwnerName = At local, make sure the name of the owner. 
#antiDoppelganger = Not to survive the doppelganger. 
#enableSpawnEgg = Enable LMM SpawnEgg Recipe. 
#VoiceDistortion = LittleMaid Voice distortion.
#defaultTexture = Default selected Texture Packege. Null is Random
#DebugMessage = Print Debug Massages.
#DeathMessage = Print Death Massages.
#Dominant = Spawn Anywhere.
#Aggressive = true: Will be hostile, false: Is a pacifist
#AchievementID = used Achievement index.(0 = Disable)
#UniqueEntityId = UniqueEntityId(0 is AutoAssigned. max 255)
#
#Sat Apr 26 14:23:30 CEST 2014
cfg_DebugMessage=true
cfg_DeathMessage=true
cfg_defaultTexture=
cfg_canDespawn=false
cfg_antiDoppelganger=true
cfg_checkOwnerName=false
cfg_enableSpawnEgg=false
cfg_spawnWeight=5
cfg_UniqueEntityId=30
cfg_VoiceDistortion=true
cfg_minGroupSize=1
cfg_AchievementID=222000
cfg_Dominant=false
cfg_spawnLimit=20
cfg_Aggressive=true
cfg_maxGroupSize=3
